<!DOCTYPE html>
<html>
  <head>
    <%= require('../../../public/head.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <h1>Login</h1>
  </body>
</html>
