<!DOCTYPE html>
<html>
  <head>
    <%= require('../../../public/head.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div id="header"></div>
    <div>
      <h1>Hello Webpack</h1>
    </div>
  </body>
</html>
