<!DOCTYPE html>
<html>
  <head>
    <%= require('../../../public/head.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div id="header"></div>
    <%= require('./hello.ejs') %>
  </body>
</html>
